
*.o
*.d
*.a

.hg*
*.diff

/config.*
/version.h

/amr-add
/libswscale
/djbfft-0.76
/ffmpegtutorial.tgz

libavcodec/libdca.c
libavcodec/libmad.c
libavformat/gifdec.c

libavutil/libavutil*
libavcodec/libavcodec*
libavformat/libavformat*
libavfilter/libavfilter*
libavdevice/libavdevice*
libpostproc/libpostproc*

doc/*.html
doc/*.1

vhook/*.so

/*-stamp*
/cscope.*
/build.sh
/*.deb

/ffmpeg
/ffmpeg_g
/ffplay
/ffplay_g
/ffserver
/ffserver_g

/formats.txt
/debian-shared

