
*.log
*.debhelper
*.substvars

stamp-patched

tmp
files
ffmpeg
ffmpeg-dbg
ffmpeg-doc
libswscale0
libavutil49
libavfilter0
libavcodec52
libavformat52
libpostproc51
libavdevice52
libavutil-dev
libavcodec-dev
libswscale-dev
libavdevice-dev
libavfilter-dev
libavformat-dev
libpostproc-dev

