
*.log
*.debhelper
*.substvars

stamp-patched

tmp
files
ffmpeg
libav-doc
ffmpeg-dbg
ffmpeg-doc
libswscale1
libavutil51
libavfilter2
libavcodec53
libavformat53
libavdevice53
libpostproc52
libavutil-dev
libavcodec-dev
libswscale-dev
libavdevice-dev
libavfilter-dev
libavformat-dev
libpostproc-dev

